:root {
	--bg-body: hsl(204, 3%, 7%);
	--bg-absent: hsl(240, 2%, 23%);
	--bg-present: hsl(49, 51%, 47%);
	--bg-correct: hsl(115, 29%, 43%);
	--bg-keyboard: hsl(200, 1%, 51%);
	--border-inactive: hsl(240, 2%, 23%);
	--border-letter: hsl(210, 1%, 34%);
	--clr-primary: hsl(0, 0%, 100%);
}
