@use "../util" as *;

a,
a:visited,
a:active {
	text-decoration: none;
}

body {
	font-family: var(--font-body);
	color: var(--clr-primary);
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: rem(36);
	letter-spacing: 0.2rem;
}
